.ui.large.secondary.workout.menu#main_menu
  .ui.container
    = link_to root_path, class: 'ui item' do
      %h1.ui.header fortify
    = link_to workouts_path, class: 'ui item' do
      %h3.ui.header Workouts
    .right.menu
      = link_to session_path, class: 'ui item', method: :delete do
        %h3.ui.header Sign Out
.ui.new.segment
  .bg
  .ui.container
    .ui.stackable.grid
      %h1.ui.header Create a new workout
      - if @workout.errors.any?
        .errors
          %h2.ui.header The form contained some errors
          - @workout.errors.full_messages.each do |error|
            %h3.ui.header= error
      = form_for @workout, url: workouts_path, method: :post, html: {class: 'ui form row'} do |f|
        .eleven.wide.column
          .field
            = f.text_field :name, placeholder: 'Give your new workout a cool name...'
        .five.wide.column
          = f.submit 'Start Fortifying', class: 'ui button'
.ui.workouts.segment
  .ui.container
    %h1.ui.header Your Workouts
    - if @workouts.count > 0
      .ui.grid
        - @workouts.each do |workout|
          .workout.row
            = link_to workout, class: 'box' do
              .name.attr= workout.name
              .days.attr #{workout.days} Days
    - else
      %h2.ui.header
        %i It looks like you don't have any workouts yet! Create one above.
