= video_tag "training.mp4", playsinline: '', autoplay: '', muted: '', loop: '', id: 'bgvid'
.ui.top.fixed.large.secondary.home.menu#main_menu
  .ui.container
    = link_to root_path, class: 'ui item' do
      %h1.ui.header fortify
    .right.menu
      = link_to new_user_path, class: 'ui item' do
        %h3.ui.header Sign Up
      = link_to new_session_path, class: 'ui item' do
        %h3.ui.header Sign In
.ui.masthead.segment
  .inner
    .ui.container.stackable.grid
      .row
        .sixteen.wide.column
          %h1 Get fit with <b>fortify</b>
      = form_for @user, html: {class: 'row'}, url: new_user_path, method: :get do |f|
        .twelve.wide.column
          = f.text_field :email, class: 'ui input', placeholder: 'Enter your email to get started'
        .four.wide.column
          = f.submit "Let's Go!", class: 'ui inverted button'
.ui.features.segment
  .ui.container
    %h1.ui.header <span class="logo">fortify</span> is exercise made simple
    .ui.stackable.equal.height.grid
      .ten.wide.middle.aligned.column
        = image_tag 'screen.png', class: 'ui fluid image'
      .six.wide.column
        .container
          %h2.ui.header Manage your workouts
          %p fortify allows you to store your workouts, and automatically handles exercise timing.
        .container
          %h2.ui.header Track your progress
          %p fortify tracks how often you work out and your workout schedule to help you progress.
        .container
          %h2.ui.header Time your sessions
          %p fortify incorporates automatic timers that help you stay focused during long routines.
.ui.pro.segment
  .ui.container
    %h1.ui.header <span class="coming">Coming Soon:</span> <span class="logo">fortify pro</span>
    .ui.three.column.equal.height.stackable.grid
      .column
        .box
          %h1.ui.header Nutrition Information
          = image_tag 'nutrition.png', class: 'ui fluid image'
      .column
        .box
          %h1.ui.header Curated Workouts
          %h2.ui.header.workout Rock Climbing Workout - Grip Strength
          %h2.ui.header.workout Long-Distance Running Cardio Workout
          %h2.ui.header.workout Two Month Six-Pack Building Workout
      .column
        .box
          %h1.ui.header Advanced Tracking
          = image_tag 'stat.png', class: 'ui fluid image'
:css
  body {
    background: #000 !important;
  }
